<div class="card-container">
    <a class="card" href="/get-involved/invest-money">
        <img src="/assets/img/downloads/download-tips.png" />
        <h4>Invest some money</h4>
    </a>
    <a class="card" href="/get-involved/spread-the-word">
        <span class="fa fa-globe"></span>
        <h4>Spread the Word</h4>
    </a>
    <a class="card" href="/get-involved/translate">
        <img src="/assets/img/logos/transifex.jpg"/>
        <h4>Translations</h4>
    </a>
    <a class="card" href="/get-involved/artwork">
        <img src="/assets/img/icons/artwork.svg"/>
        <h4>Artwork and Themes</h4>
    </a>
    <a class="card" href="/get-involved/community-support">
        <span class="fa fa-users"></span>
        <h4>Community Support</h4>
    </a>
    <a class="card" href="/get-involved/testing">
        <span class="fa fa-thumbs-o-up"></span>
        <h4>Testing and QA</h4>
    </a>
    <a class="card" href="/get-involved/bug-triage">
        <span class="fa fa-bug"></span>
        <h4>Bug Triage</h4>
    </a>
    <a class="card" href="/get-involved/bug-fixing">
        <img src="/assets/img/icons/development.svg"/>
        <h4>Bug Fixing</h4>
    </a>
    <a class="card" href="/get-involved/code-development">
        <img src="/assets/img/logos/mate.svg"/>
        <h4>MATE Development</h4>
    </a>
</div>
